asgiref==3.7.2
Django==5.0.3
geographiclib==2.0
geopy==2.4.1
numpy==1.26.4
pandas==2.2.1
pyarrow==15.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.3
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1


